## Ignore unnecessary files to avoid pushing them.

# Jupyter Notebook
.ipynb_checkpoints

# Visual Studio Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json